.sondage {
    background-color: $pink;
    margin: $marge20; 
    a {
        color: $white;   
        h3 {
        padding: $pad10;
        }
        h4 {
            padding: $pad10;
        }
        p {
            padding: $pad10;
        }
    }

}
