/* colors */
$white: white;
$black: black;
$blackMedium: rgba(0, 0, 0, 0.85);
$blackLight: rgba(0, 0, 0, 0.3);
$gradientPurple: linear-gradient(90deg, rgba(47, 35, 89, 1) 50%, rgba(76, 57, 145, 1) 100%);
$gradientPurpleLight: linear-gradient(90deg, rgba(47, 35, 89, 0.8) 50%, rgba(76, 57, 145, 0.8) 100%);
$grey: #ccc;
$pink: #bf3676;
$yellowGreen: #d7f24b;
$blue : #2E294E;
/* font-size */
$fontSize48: 48px;
$fontSize36: 36px;
$fontSize24: 24px;
/* margin */
$marge80: 80px;
$marge20: 20px;
/* padding */
$pad30: 30px;
$pad15: 15px;
$pad10: 10px;
